# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.



# package directories
node_modules

# Serverless directories
.serverless

# Typescript builds
.build

# testing data files
.csv

# Errors
yarn-error.log

# python environment
venv
__pycache__
*.pyc
.mypy_cache

#coverage files
.coverage
htmlcov


.vscode
package-lock.json
yarn.lock
